.header {
    display: flex;
    background-color:  rgb(226, 112, 112);;
    height: 40px;
    align-items: center;
    gap: 50px;
    justify-content: center;
}
.outer-container{
    height: 100%;
    width: 100%;
}
body{
    margin: 0px;
    overflow-x: hidden;
}
.humburg{
    object-fit: contain;
    width: 30px;
}
.icon-image{
    height: 30px;
    width: 30px;
}
.option{
    font-size: 19px;
    font-weight: bold;
}
.session1{
    display: flex;
}
.session1-content{
width: 50%;
height: 100vh;
display: flex;
flex-direction: column;
gap: 50px;
padding: 60px;
justify-content: center;
box-sizing: border-box;
background-image: linear-gradient(109.6deg, rgb(253, 223, 168) 11.2%, rgb(246, 165, 254) 100.2%);

}
.session1-image{
width: 50%;
height: 100vh;
}
img{
    object-fit: contain;
    height: 100%;
}
.session1-heading{
    font-weight: bold;
    font-size: 48px;
}
.lcontent{
    font-size: 23px;
}
.button{
    background-color:  rgb(226, 112, 112);
    height: 40px;
    width: 140px;
    color: white;
    display: flex;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}

.session2{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(109.6deg, rgb(253, 223, 168) 11.2%, rgb(246, 165, 254) 100.2%);
    gap: 40px;
}

.small-box{
    background-color:  rgb(226, 112, 112);
    width: 520px;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 25px;
}

.peas{
    height: 200px;
    object-fit: fill;
}
.peas2{
    height: 405px;
    width: 250px;
    object-fit: fill;
}

.pic1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}
.pic2{
    width: 250px;
}
